@{
    ViewBag.Title = "About";
}
@* Created a basic about page used a thumbnail to get the background for the text *@
<h2 class="reviewh2">About us</h2>
<div class="thumbnail thumbabout">
    <p>Our company was founded by Mr. Krinkles, a extremely intelligent Meerkat, and his wife Sonja, a Tarsier, don't ask. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a tempus turpis. Maecenas in felis eget augue tristique porta. Donec mattis accumsan magna. Nullam at ipsum a urna dapibus accumsan placerat et quam. Nunc nec pretium metus. Cras efficitur fringilla ultrices. Nulla mi magna, tristique sit amet pharetra vitae, elementum et massa. Proin turpis libero, placerat a tempus nec, euismod et elit. Suspendisse potenti. Proin eleifend facilisis nisl vitae sollicitudin.</p>
    <p>Nullam blandit porta feugiat. Mauris at odio at dolor aliquet pretium ornare id sem. Phasellus lorem lacus, condimentum et nibh ut, pulvinar maximus elit. Praesent sagittis consectetur leo, ac ultrices mi. Cras vestibulum dictum sapien, vel porttitor nunc lobortis in. Donec neque nulla, laoreet ut justo nec, porta tristique ligula. Fusce vel sapien nulla. Nulla rutrum nisl sit amet libero dignissim sollicitudin. Fusce sollicitudin quis purus eget aliquet. Suspendisse lacinia ante ac mauris volutpat, quis tempor tellus venenatis. Fusce pretium neque vel accumsan dictum. Suspendisse sit amet volutpat enim.</p>
</div> 
 