body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/doorwaybg.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-color:black;
    background-size:cover;
}

#newbod{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:white;
    background-image:none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Sets up the main navbar*/
.navbar-fixed-top {
    background-color: black;
    font-family: 'IM Fell English SC', serif;
    text-decoration-color: coral;
}
/*Border color for the button when it small*/
button.navbar-toggle{
    border-color:red;
}
/*Icon bars are now red*/
span.icon-bar{

    background-color:red;
}
/*below are the text for most of the navbar, they are put together for style*/
#Alyfe{
    font-family: 'Condiment', cursive;
    font-weight:bold;
    color:crimson;
}
.navbar-brand {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
    text-align:center;
}
.navbar-reviewus {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
}
.navbar-aboutus {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
}
.navbar-contactus { 
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
    
}
/*this is the area specific to the first 'splash' page, it gives a nice first look*/
div.jumbotron{ 
    opacity:0.6;
    background-image:linear-gradient(black,red);

    
}
/*This is the style for the main index page, it goes through the colors and the font styles mainly*/
#foundit{
    font-family: 'Aguafina Script', cursive;
    color: #a2a53b;
    
}
.lead{
    font-family: 'IM Fell English SC', serif;
    color:white;
}
h2.homepage{
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
}
p.descr{
    font-family: 'Aguafina Script', cursive;
    color: #a2a53b;
    font-size:22px;
}
h2.csoon {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    text-align: center;
    font-size: 40px;
}
p.soondescript{
   font-family: 'Aguafina Script', cursive;
   color: #a2a53b;
   text-align:center;
   font-size:22px;
   font-stretch:extra-expanded;
}
p.sitefooter{
    font-family:'Trebuchet MS';
    font-size:12px;
    color:ghostwhite;
}
/*Review pages*/
/*First one is the thumbnails on the index of the review page*/
div.reviewthumb {
    opacity: 0.7;
    background-image: url('images/parchmenta.jpg');
    background-size:cover;
}
h4.reviewh4{
    font-family: 'IM Fell English SC', serif;
    
}
h3.reviewh3{
    font-family: 'IM Fell English SC', serif;
    color:ghostwhite;
}
h2.reviewh2{
    font-family: 'IM Fell English SC', serif;
    color:#a2a53b;
}
p.reviewp{
        font-family: 'IM Fell English SC', serif;
    color:ghostwhite;
}
/*background pic for the form in the create page*/
div.createformr {
    opacity: 0.7;
    background-image: url('images/parchmentpage.jpg');
    background-size:cover;
}
h4.h4create{
    font-family: 'IM Fell English SC', serif;
    text-align:center;

}
div.revdiv{
    background-color:white;
}
/*background image for the detail page*/
div.detailthumb {
    background-image: url('images/oldparchment.jpg');
    background-size:cover;
}
label.coleditrev{
    font-family: 'IM Fell English SC', serif;
    color:#a2a53b;
}
label.revcreate{
    font-family: 'IM Fell English SC', serif;
}
/*About section*/
div.thumbabout {
    background-image: url('images/oldparchment.jpg');
    background-size:cover;

}