body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('images/doorwaybg.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-color:black;
    background-size:cover;
}

#newbod{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:white;
    background-image:none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-fixed-top {
    background-color: black;
    font-family: 'IM Fell English SC', serif;
    text-decoration-color: coral;
}
#Alyfe{
    font-family: 'Condiment', cursive;
    font-weight:bold;
    color:crimson;
}
.navbar-brand {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
}
.navbar-reviewus {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
}
.navbar-aboutus {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
}
.navbar-contactus { 
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    background-color:black !important;
    
}
div.jumbotron{ 
    opacity:0.6;
    background-image:linear-gradient(black,red);

    
}
#foundit{
    font-family: 'Aguafina Script', cursive;
    color: #a2a53b;
    
}
.lead{
    font-family: 'IM Fell English SC', serif;
    color:white;
}
h2.homepage{
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
}
p.descr{
    font-family: 'Aguafina Script', cursive;
    color: #a2a53b;
    font-size:22px;
}
h2.csoon {
    font-family: 'IM Fell English SC', serif;
    color: #a2a53b;
    text-align: center;
    font-size: 40px;
}
p.soondescript{
   font-family: 'Aguafina Script', cursive;
   color: #a2a53b;
   text-align:center;
   font-size:22px;
   font-stretch:extra-expanded;
}
p.sitefooter{
    font-family:'Trebuchet MS';
    font-size:12px;
    color:ghostwhite;
}
/*Review pages*/
div.reviewthumb{
    opacity:0.6;
    background-color:aquamarine;
}
h3.reviewh3{
        font-family: 'IM Fell English SC', serif;
    color:#a2a53b;
}
h2.reviewh2{
        font-family: 'IM Fell English SC', serif;
    color:#a2a53b;
}
p.reviewp{
        font-family: 'IM Fell English SC', serif;
    color:#a2a53b;
}
div.createformr{
        opacity:0.7;
    background-color:snow;
}
h4.h4create{
    font-family: 'IM Fell English SC', serif;
    text-align:center;

}
div.revdiv{
    text-decoration-color:white;
}
dl.dlreview{
     text-decoration-color:white;
}
label.coleditrev{
    font-family: 'IM Fell English SC', serif;
    color:#a2a53b;
}